* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  min-height: 60vh;
  background-color: #F3F3F3;
  width: 100%;
  max-width: 100%;
  padding-top: 1px;
  background-image: linear-gradient(#ecf1f4,#f3f3f3);
}
.hero h2 {
  color: #333;
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px; 
  font-size: 2rem;
}
.hero span{
  color: #cba0ac;
}
.hero p{
  text-align: center;
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0.3em;
  color: #333;
}
.hero a{
  text-decoration: none;
}
.homeBtn{
  background-color: #333;
  border: 3px solid #fff;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  padding: 5px;
  font-size: 1rem;
  text-transform: capitalize;
  color: #fff;
  width: 20%;
}
.homeBtn:hover{
  background-color: #cba0ac;
  color: #fff;
  transition: .3s ease-in-out;
}

@media (max-width:400px){
  .homeBtn{
    width: 50%;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .hero h2{
    font-size: 1.5rem;
  }
  .container{
    min-height: 50vh;
  }
  img{
    width: 30%;
  }
}