*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    height: 500px;
    background-image: url("../../assets//exclusive.png");
    background-repeat: no-repeat;         /* Prevents repetition */
    background-size: 50% 50%;             /* Reduces the image size */
    background-position: center;          /* Centers the image */
    max-width: 100vw;
}

.exclusiveTitle h1{
    text-align: center;
    text-transform: capitalize;
    margin-top: 10px;
    color: #cc9d8d;
}